* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100vh;
}

.main {
  display: flex;
}

.main > .left {
  height: 100vh;
  width: 40%;
}

.right {
  width: 60%;
  height: 100vh;
}

.right > .top {
  width: 100%;
  height: 50%;
  display: flex;
}

.right > .bottom {
  width: 100%;
  height: 50%;
  background-image: url(images/flower-bottom.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.top > .tleft {
  height: 100%;
  width: 55%;
  background-image: url(images/flowwr2.avif);
}

.top > .tright {
  width: 45%;
  height: 100%;
  background-image: url(images/flower.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.left > nav {
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left > nav > ul {
  display: flex;
  margin-left: 50px;
}

.left > nav > ul > li {
  list-style: none;
  margin-left: 50px;
  font-weight: bold;
  cursor: pointer;
}

nav > .logo {
  color: rgb(192, 188, 188);
  font-size: 25px;
  cursor: pointer;
}

nav > .logo:hover {
  color: #000;
}

nav > .icon {
  color: rgb(8, 177, 255);
  font-size: 25px;
  cursor: pointer;
}

.work {
  color: rgb(192, 188, 188);
}

.work:hover {
  border-bottom: 2px solid rgb(192, 188, 188);
  color: #000;
  font-size: 16.6px;
}

.about {
  border-bottom: 2px solid rgb(192, 188, 188);
  padding-bottom: 3px;
}

.about:hover {
  color: rgb(192, 188, 188);
  border-bottom: none;
  font-size: 16.6px;
}

.left > .content {
  margin-top: 18%;
  margin-left: 110px;
}

.left > .content > h1 {
  font-size: 90px;
}

.left > .content > p {
  line-height: 23px;
  color: #6d6a6a;
  margin-top: 14px;
}

.left > .content > button {
  background-color: #fcfcfc;
  width: 67px;
  height: 33px;
  border-radius: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 4px 4px 2px rgb(223, 222, 222);
  font-weight: bold;
  margin-top: 26px;
}

.tleft > h1 {
  color: #f0f0f0;
  font-size: 97px;
  line-height: 100px;
  margin-top: 35px;
  margin-left: 40px;
}

.arrow {
  width: 110px;
  height: 70px;
  background-color: #fff;
  margin-top: 223px;
  position: absolute;
  font-size: 15px;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

@media (max-width: 500px) {
  .main {
    flex-direction: column;
  }
  .main > .left {
    height: 75vh;
  }

  .main > .right {
    width: 100%;
    height: 80.3vh;
  }

  .tleft > h1 {
    font-size: 60px;
    line-height: 60px;
    margin-left: 10px;
    margin-top: 60px;
  }

  .left > nav {
    width: 100%;
    height: 50px;
    padding: 0 30px;
  }

  .left > nav > ul > li {
    margin-left: 20px;
  }

  .left > nav > ul {
    margin-left: 90px;
  }

  nav .logo {
    font-size: 23px;
  }

  .icon {
    margin-left: 40px;
  }

  .left > .content > h1 {
    font-size: 70px;
  }

  .left > .content {
    margin-left: 100px;
    width: 100%;
    margin-top: 80px;
  }
}
